<h2><a href="/pokemons">All Pokemon</a></h2>
<div class="pokemon">
	<img style="float: right; margin: 0px 45px 45px 0px;" src="<%= @pokemon.img_url %>" alt="<%= @pokemon.name %>">
	<p>Pokemon Name: <%= @pokemon.name %></p>
	<p>Pokemon Type: <%= @pokemon.poke_type %></p>
	<p>Pokemon POWAH!: <%= @pokemon.cp %></p>
	<p>Pokemon ID: <%= @pokemon.id %></p>
	<p>Trainer: <a href='/trainers/<%= @trainer.id %>'><%= @trainer.name %></a></p>					
	<p><a href='/pokemons/<%= @pokemon.id %>/edit'>Edit This Pokemon</a></p>
</div>